{% extends "base.html" %}

{% block title %}About - Visa Bulletin Reader{% endblock %}

{% block content %}
        <h1>About Visa Bulletin Reader</h1>
        <p class="author-decor">Before this, many of us navigate to the
            <a href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/visa-bulletin.html"
               target="_blank">official US Travel.state.gov</a> website to check the latest updates.
            I felt myself many times. It's not just me, but many other aspiring Developers.
            So, why not a web app that can read and display the latest visa bulletin dates...
            and that's how this application was built.</p>
        <p>It all started as a learning project about web scraping and why not build a purposeful one.</p>
        <hr>
{#        <h3>Goal</h3>#}
{#        <p>The goal of this project is to provide a user-friendly way to access visa bulletin information from the official US government website. It started as a learning project to explore Python and web scraping capabilities.</p>#}
        <h3>Featuring,</h3>
        <ul>
            <li>Scrapes the latest "Upcoming" or "Current" Visa Bulletin from travel.state.gov.</li>
            <li>Allows the users to filter by Visa Type (Family or Employment) and Country.</li>
            <li>Displays "Dates For Filing" and "Final Action Dates" in a clean table format.</li>
        </ul>
        <h3>Want to Contribute?</h3>
        <p>To this web app to make it better and add some more features and elements?
            Please reach out to me on <a href="https://twitter.com/pkaravind" target="_blank">Twitter</a>
            | <a href="mailto:aravind.pk@yahoo.com?subject=I want to contribute to Visa Bulletin Reader&body=This is my github profile - " target="_blank">Email me</a>
        </p>
{% endblock %}
