<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Visa Bulletin Reader</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-color: #fff;
        color: #212529;
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #181a1b;
          color: #f8f9fa;
        }
      }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Visa Bulletin Reader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/references">References links</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>About Visa Bulletin Reader</h1>
        <p class="author-decor">Before this, many of us navigate to the
            <a href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/visa-bulletin.html"
               target="_blank">official US Travel.state.gov</a> website to check the latest updates.
            I felt myself many times. It's not just me, but many other aspiring Developers.
            So, why not a web app that can read and display the latest visa bulletin dates...
            and that's how this application was built.</p>
        <p>It all started as a learning project about web scraping and why not build a purposeful one.</p>
        <hr>
{#        <h3>Goal</h3>#}
{#        <p>The goal of this project is to provide a user-friendly way to access visa bulletin information from the official US government website. It started as a learning project to explore Python and web scraping capabilities.</p>#}
        <h3>Featuring,</h3>
        <ul>
            <li>Scrapes the latest "Upcoming" or "Current" Visa Bulletin from travel.state.gov.</li>
            <li>Allows the users to filter by Visa Type (Family or Employment) and Country.</li>
            <li>Displays "Dates For Filing" and "Final Action Dates" in a clean table format.</li>
        </ul>
        <h3>Want to Contribute?</h3>
        <p>To this web app to make it better and add some more features and elements?
            Please reach out to me on <a href="https://twitter.com/pkaravind" target="_blank">Twitter</a>
            | <a href="mailto:aravind.pk@yahoo.com?subject=I want to contribute to Visa Bulletin Reader&body=This is my github profile - " target="_blank">Email me</a>
        </p>
    </div>
    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <p class="mb-0">&copy; Built with <span class="love" style="color: #e25555;">&#10084;&#65039;</span> by Aravind </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
