<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Visa Bulletin Reader{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
      body {
        background-color: #fff;
        color: #212529;
        font-family: 'Rubik', monospace;
        font-style: normal;
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #181a1b;
          color: #f8f9fa;
        }
      }
      {% block extra_styles %}{% endblock %}
      .handwriting {
      font-family: 'Dancing Script', cursive;
      font-size: large;
      }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">
        <div class="container">
            <a class="navbar-brand" href="/">Visa Bulletin Reader</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item {% if request.path == '/about' %}active{% endif %}">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item {% if request.path == '/references' %}active{% endif %}">
                        <a class="nav-link" href="/references">References links</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}{% endblock %}
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <p class="mb-0">&copy;
                <span class="handwriting">Built with
                    <span class="love" style="color: #e25555;">&#10084;&#65039;</span> using
                    <i class="fab fa-python" title="Python" style="color: cyan"></i> and
                    <i class="fas fa-flask" title="Flask" style="color: pink"></i>
                </span>
                &nbsp;
                <span class="handwriting">
  Have feedback? <a href="https://github.com/aravindk777/VisaBulletinReader/issues/new/choose" target="_blank" class="link-active">Click here</a>
</span>
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
